
<nav class="navbar navbar-dark bg-dark" id="main-nav">
    <div class="container-fluid">
        <img class="navLogo" src="../../assets/images/avengers-logo.png" alt="logo-avengers">
        <img class="central-logo" src="../../assets/images/central-logo.png" alt="central-logo">
      <!-- <a class="navbar-brand">Navbar</a> -->
      <form class="d-flex input-group w-auto">
        <input
          type="search"
          type="search"
          class="form-control rounded"
          ngMOdel="searchHero"
          placeholder="Find your hero" 
          aria-label="Search"
          (input)="sendQueryText($event)"
        />
        <!-- <span class="input-group-text text-white border-0" id="search-addon"> -->
          <!-- <i class="fas fa-search" id="magnifier"></i> -->
        <!-- </span> -->
      </form>
    </div>
  </nav>