
#main-nav {
    justify-content: space-around;
    position: fixed;
    width: 100%;
    z-index: 9999;
    transition:  0.32s ease-in-out;
}

#main-nav.scrolled {
    opacity: 0.75;
  }

.container-fluid {
    height: 12vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navLogo {
    width: 48px;
    margin-left: 1vw;
}

.central-logo {
    height: 60px;
}

input {
    background-color: #a4c4d1;
}

::placeholder {
    color: #d91720;
}

form {
    margin-right: 1vw;
}